@model Legion.app.Models.LegionDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LegionDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Legion_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legion_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Legion_Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legion_Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primarch_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primarch_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegionRef.Legion_Primarch_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegionRef.Legion_Primarch_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Legion_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
